# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\文件\office作业\JAVA前端\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
